.form
  background-color: black
  display: flex
  height: 679px
  margin-top: 40px

  &__banner
    width: 500px

  &__banner > img
    height: 100%
    opacity: 0.7
    width: 100%

  &__container
    background-color: #0e090d
    border: solid 1px #151515
    padding: 40px
    position: relative
    width: 400px

  &__header
    color: white

  &__submit
    background-color: #9c27b0a6
    border-radius: 20px
    border: none
    color: white
    cursor: pointer
    font-weight: 500
    height: 40px
    margin: 20px 0
    transition: background-color 0.2s ease
    width: 135px

    &:hover
      background-color: #9C27B0

  &__option
    color: black

  &__label
    color: black

  &__error
    color: red
    font-family: monospace
    font-size: 12px
    left: 40px
    margin-top: 58px
    position: absolute

  &__success
    color: #4caf50
    font-size: 12px

  &__link
    display: block
    font-size: 12px
    padding: 10px 0

  &__input
    input,
    select,
    textarea
      background-color: transparent
      border-bottom: solid 1px #454545
      border: none
      color: white
      margin-bottom: 20px
      margin-top: 10px
      outline: none
      padding: 10px 0
      transition: border 0.4s ease
      width: 100%

      &::placeholder
        color: white

      &:focus
        border-bottom: solid 1px white

    select
      cursor: pointer

    textarea
      resize: none

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
      background-color: transparent !important

  @media only screen and (max-width: 936px)
    flex-direction: column

    &__banner
      height: 500px

    &__container
      width: auto

  @media only screen and (max-width: 481px)
    height: auto
    width: 100%

    &__banner
      height: 300px
      width: 100%

    &__container
      padding: 20px

    &__error
      left: 20px
