.quiz
  align-items: center
  color: white
  display: flex
  height: 50vh
  justify-content: center
  flex-direction: column
  position: relative

  &__question,
  &__headerResult
    padding: 20px
    width: 500px

    p
      height: 40px
      font-size: 20px

  &__headerResult
    text-align: center

    p
      font-size: 30px

  &__container
    display: flex
    justify-content: center
    align-items: center
    text-align: center

  &__button
    padding: 20px

    .quiz__buttonStart
      font-size: 28px
      padding: 50px 76px
      text-transform: uppercase

    svg
      animation: beat 1.5s infinite

  &__button button
    background-color: #9c27b0
    background: transparent
    border-radius: 5px
    border: none
    border: solid 2px #9C27B0
    color: white
    cursor: pointer
    padding: 20px 12px
    transition: background-color 0.5s ease

    &:hover
      background-color: #ffffff0d

  &__input
    text-align: center

  &__question > .quiz__button
    display: none
    justify-content: space-between
    padding: 0

  &__modal
    padding: 20px

    ul
      margin: 0
      padding: 0
      padding: 20px

    li
      list-style: lower-roman !important
      margin-bottom: 15px

  @media only screen and (max-width: 710px)
    &__header
      margin-top: 20px

    &__question
      width: 290px

      .quiz__button
        display: flex

    &__container > .quiz__button
      display: none

  @media only screen and (max-width: 481px)
    height: 70vh

  @keyframes beat
    0%
      transform: scale(0.8)

    50%
      transform: scale(1)

    100%
      transform: scale(0.8)
