@font-face
  font-family: 'futura'
  src: url('https://rockandtok.com/Futura.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Liberty"
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf')

body
  align-items: center
  background-color: #000000
  display: flex
  font-family: futura
  justify-content: center

main
  padding: 35px
  width: 2176px
